<!DOCTYPE html>
<html lang="en" ng-app="bacon">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Directive - 02 | Angular.cz</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  </head>
  <body ng-controller="BaconController as bacon" class="container">
    <!-- TODO 1 -->
    <h3>bacon-ipsum</h3>  
    <bacon-ipsum></bacon-ipsum>
    <hr />

  <!--   TODO 2  -->
    <h3>bacon-ipsum s parametrem paragraphs="2"</h3> 
    <bacon-ipsum paragraphs="2"></bacon-ipsum>
    <hr />

  <!-- TODO 3  -->
    <input ng-model="bacon.title3"/>
    <input type="number" ng-model="bacon.paragraphs3"/>
    <bacon-ipsum title="{{bacon.title3}}" title2way="bacon.title3" paragraphs="{{bacon.paragraphs3}}"></bacon-ipsum>
    <hr />

  <script src="/bower_components/angular/angular.js"></script>
  <script src="service.js"></script>
  <script src="app.js"></script>
</body>
</html>