<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Templates-02 | Angular.cz - TODO ke cvičením</title>
  <meta name="author" content="www.angular.cz">
  
  <meta name="description" content="Vyzkoušejte si použití dvoucestného databindingu a forgiving.

V index.html přidejte attribut ng-model k elementu input

jako hodnotu použijte company">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Templates-02"/>
  <meta property="og:site_name" content="Angular.cz - TODO ke cvičením"/>

  
    <meta property="og:image" content="undefined"/>
  

  <link href="/todo/favicon.png" rel="icon">
  <link rel="alternate" href="/todo/atom.xml" title="Angular.cz - TODO ke cvičením" type="application/atom+xml">
  <link rel="stylesheet" href="/todo/css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  

</head>


<body>
  <header id="header" class="inner"><div class="alignleft">
  <h1><a href="/todo/">Angular.cz - TODO ke cvičením</a></h1>
  <h2><a href="/todo/"></a></h2>
</div>
<nav id="main-nav" class="alignright">
  <ul>
    
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><article class="page">
  
  <div class="post-content">
    <header>
      
      
  
    <h1 class="title">Templates-02</h1>
  

    </header>
    <div class="entry">
      
        <p>Vyzkoušejte si použití dvoucestného databindingu a forgiving.</p>
<ol>
<li><p>V index.html přidejte attribut ng-model k elementu input</p>
<ul>
<li>jako hodnotu použijte <strong>company</strong></li>
</ul>
</li>
<li><p>Vypište v šabloně pomocí expression hodnotu company</p>
</li>
</ol>
   <p><span style="float:right"><a href="#" id="todoCode1_button" onclick="$('#todoCode1').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO - přidejte atribut ng-model a zobrazte hodnotu</span></p><div id="todoCode1" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br></pre></td><td class="code"><pre><span class="line">Firma <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">ng-model</span>=<span class="value">"company"</span> <span class="attribute">class</span>=<span class="value">"form-control"</span>/&gt;</span><span class="tag">&lt;<span class="title">br</span> /&gt;</span></span><br><span class="line"><span class="tag">&lt;<span class="title">h4</span>&gt;</span>Ahoj &#123;&#123;company&#125;&#125;!<span class="tag">&lt;/<span class="title">h4</span>&gt;</span></span><br></pre></td></tr></table></figure></div>

      
    </div>
    <!--<footer>-->
      <!---->
        <!---->
        <!---->
        <!---->
      <!---->
      <!--<div class="clearfix"></div>-->
    <!--</footer>-->
  </div>
</article>

<!--
<section id="comment">
  <h1 class="title">留言</h1>

  
      <div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123456789012345";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-comments" data-href="http://yoursite.com/todo/templates-02/index.html" data-num-posts="5" data-width="840" data-colorscheme="light"></div>
      
  
</section>
-->
</div></div>
    <aside id="sidebar" class="alignright">
  <ul>
  
</ul>


<div class="widget tag">
  <h3 class="title">Cvičení</h3>
  <ul class="entry">
    
    <li><a href="/todo/templates-01/">templates-01</a></li>
    
    <li><a href="/todo/templates-02/">templates-02</a></li>
    
    <li><a href="/todo/controller-01/">controller-01</a></li>
    
    <li><a href="/todo/controller-02/">controller-02</a></li>
    
    <li><a href="/todo/scope-01/">scope-01</a></li>
    
    <li><a href="/todo/controller-03/">controller-03</a></li>
    
    <li><a href="/todo/di-01/">di-01</a></li>
    
    <li><a href="/todo/di-01-unitTesting/">di-01-unitTesting</a></li>
    
    <li><a href="/todo/di-02/">di-02</a></li>
    
    <li><a href="/todo/directive-01/">directive-01</a></li>
    
    <li><a href="/todo/directive-02/">directive-02</a></li>
    
    <li><a href="/todo/directive-03/">directive-03</a></li>
    
    <li><a href="/todo/filter-01/">filter-01</a></li>
    
    <li><a href="/todo/filter-02/">filter-02</a></li>
    
    <li><a href="/todo/form-01/">form-01</a></li>
    
    <li><a href="/todo/router-01/">router-01</a></li>
    
    <li><a href="/todo/resource-01/">resource-01</a></li>
    
    <li><a href="/todo/animate-01/">animate-01</a></li>
    
    <li><a href="/todo/auth-01/">auth-01</a></li>
    
    <li><a href="/todo/auth-02/">auth-02</a></li>
    
  </ul>
</div>


</aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><div class="alignleft">
  
  &copy; 2015 www.angular.cz
  
</div>
<div class="clearfix"></div></footer>
  <script src="/todo/js/jquery.min.js"></script>
<script src="/todo/js/jquery.imagesloaded.min.js"></script>
<script src="/todo/js/gallery.js"></script>




<link rel="stylesheet" href="/todo/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="/todo/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox();
})(jQuery);
</script>

</body>
</html>