<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Form-01 | Angular.cz - TODO ke cvičením</title>
  <meta name="author" content="www.angular.cz">
  
  <meta name="description" content="1. vyzkoušejte že formulář funguje
jak je navázaný na  this.user
jak se mění třídy formuláře a prvků
jak se do modelu propagují validní/nevalidní hodn">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Form-01"/>
  <meta property="og:site_name" content="Angular.cz - TODO ke cvičením"/>

  
    <meta property="og:image" content="undefined"/>
  

  <link href="/todo/favicon.png" rel="icon">
  <link rel="alternate" href="/todo/atom.xml" title="Angular.cz - TODO ke cvičením" type="application/atom+xml">
  <link rel="stylesheet" href="/todo/css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  

</head>


<body>
  <header id="header" class="inner"><div class="alignleft">
  <h1><a href="/todo/">Angular.cz - TODO ke cvičením</a></h1>
  <h2><a href="/todo/"></a></h2>
</div>
<nav id="main-nav" class="alignright">
  <ul>
    
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><article class="page">
  
  <div class="post-content">
    <header>
      
      
  
    <h1 class="title">Form-01</h1>
  

    </header>
    <div class="entry">
      
        <h3 id="1-_vyzkoušejte_že_formulář_funguje">1. vyzkoušejte že formulář funguje</h3><ul>
<li>jak je navázaný na  this.user</li>
<li>jak se mění třídy formuláře a prvků</li>
<li>jak se do modelu propagují validní/nevalidní hodnoty</li>
</ul>
<h3 id="2-_validace">2. validace</h3><ul>
<li>přiřaďte formulář do scope (controlleru) pod názvem <strong>detail.userForm</strong></li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode6_button" onclick="$('#todoCode6').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 2.1 přiřaďte formulář do scope</span></p><div id="todoCode6" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">form</span> <span class="attribute">name</span>=<span class="value">"detail.userForm"</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<ul>
<li><p>zajistěte správné zobrazení hlášek pro</p>
<ul>
<li>jméno uživatele (povinná položka), použijte ng-if</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode23_button" onclick="$('#todoCode23').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 2.2 zajistěte správné zobrazení hlášek pro jméno uživatele</span></p><div id="todoCode23" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"text-danger"</span> <span class="attribute">ng-if</span>=<span class="value">"detail.userForm.name.$invalid"</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<ul>
<li>email (povinná položka, typ email) - použijte ng-messages</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode40_button" onclick="$('#todoCode40').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 2.3 zajistěte správné zobrazení hlášek pro email</span></p><div id="todoCode40" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-messages</span>=<span class="value">"detail.userForm.email.$error"</span> <span class="attribute">class</span>=<span class="value">"text-danger"</span>&gt;</span></span><br><span class="line">  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-message</span>=<span class="value">"required"</span>&gt;</span>You did not enter a email<span class="tag">&lt;/<span class="title">div</span>&gt;</span></span><br><span class="line">  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-message</span>=<span class="value">"email"</span>&gt;</span>Your email is not valid<span class="tag">&lt;/<span class="title">div</span>&gt;</span></span><br><span class="line"><span class="tag">&lt;/<span class="title">div</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
</li>
</ul>
<ul>
<li>pro user-friendly chování zobrazujte hlášky když je element.$touched</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode56_button" onclick="$('#todoCode56').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 2.4 zajistěte user-friendly chování</span></p><div id="todoCode56" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br><span class="line">5</span><br><span class="line">6</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-if</span>=<span class="value">"(detail.userForm.name.$touched || detail.userForm.$submitted) &amp;&amp; detail.userForm.name.$invalid"</span></span><br><span class="line">     <span class="attribute">class</span>=<span class="value">"text-danger"</span>&gt;</span></span><br><span class="line"></span><br><span class="line"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-messages</span>=<span class="value">"detail.userForm.email.$error"</span></span><br><span class="line">     <span class="attribute">ng-show</span>=<span class="value">"detail.userForm.email.$touched || detail.userForm.$submitted"</span></span><br><span class="line">     <span class="attribute">class</span>=<span class="value">"text-danger"</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<h3 id="3-_vlastní_validátor_na_formát_telefonního_čísla">3. vlastní validátor na formát telefonního čísla</h3><ul>
<li>nastavte definiční objekt directivy validátoru, tak aby:<ul>
<li>byla omezená jako atribut, </li>
<li>měla závislost na ngModel</li>
<li>ngModel.$validators přidala validátor czechPhoneNumber</li>
<li>pozor na to, že validátor musí projít, pokud je hodnota undefined, nebo prázdný string,<br>   na tyto hodnoty reaguje pouze validátor require</li>
</ul>
</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode71_button" onclick="$('#todoCode71').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 3.1 nastavte definiční objekt directivy validátoru</span></p><div id="todoCode71" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br><span class="line">5</span><br><span class="line">6</span><br><span class="line">7</span><br><span class="line">8</span><br><span class="line">9</span><br><span class="line">10</span><br><span class="line">11</span><br><span class="line">12</span><br><span class="line">13</span><br></pre></td><td class="code"><pre><span class="line"><span class="keyword">return</span> &#123;</span><br><span class="line">  restrict: <span class="string">'A'</span>,</span><br><span class="line">  <span class="built_in">require</span>: <span class="string">'ngModel'</span>,</span><br><span class="line">  link: <span class="function"><span class="keyword">function</span><span class="params">(scope, element, attrs, ngModel)</span> </span>&#123;</span><br><span class="line">    ngModel.$validators.czechPhoneNumber = <span class="function"><span class="keyword">function</span><span class="params">(value)</span> </span>&#123;</span><br><span class="line">      <span class="keyword">if</span> (ngModelController.$isEmpty(value)) &#123;</span><br><span class="line">        <span class="keyword">return</span> <span class="literal">true</span>;</span><br><span class="line">      &#125;</span><br><span class="line">  </span><br><span class="line">      <span class="keyword">return</span> pattern.test(value);</span><br><span class="line">    &#125;;</span><br><span class="line">  &#125;</span><br><span class="line">&#125;;</span><br></pre></td></tr></table></figure></div>
<ul>
<li>použijte validátor a zobrazujte chybovou zprávu dle výsledku validace<ul>
<li>použití validátor v inputu</li>
<li>podmíněné zobrazení chyby podle phone.$error<br> (pozor na validate-czech-phone-number vs validateCzechPhoneNumber)</li>
</ul>
</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode83_button" onclick="$('#todoCode83').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 3.2 použijte validátor</span></p><div id="todoCode83" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">input</span> <span class="attribute">class</span>=<span class="value">"form-control"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">name</span>=<span class="value">"phone"</span> <span class="attribute">id</span>=<span class="value">"phone"</span> <span class="attribute">validate-czech-phone-number</span> <span class="attribute">ng-model</span>=<span class="value">"detail.user.phone"</span> /&gt;</span></span><br><span class="line"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-if</span>=<span class="value">"(detail.userForm.phone.$touched || detail.userForm.$submitted) &amp;&amp; detail.userForm.phone.$error.czechPhoneNumber"</span> <span class="attribute">class</span>=<span class="value">"text-danger"</span>&gt;</span></span><br><span class="line">  Use format +420 123 456 789</span><br><span class="line"><span class="tag">&lt;/<span class="title">div</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<ul>
<li>zjistěte jak se validátor projeví v css třídách prvku</li>
</ul>
  <p><span style="float:right"><a href="#" id="todoCode95_button" onclick="$('#todoCode95').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">&nbsp;</span></p><div id="todoCode95" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">objevuje se třída ng-(in)valid-czech-phone-number</span><br></pre></td></tr></table></figure></div>
<h3 id="4-_propagace_položky_City_až_po_opuštění_pole">4. propagace položky City až po opuštění pole</h3><ul>
<li>ng-model-options (<a href="https://docs.angularjs.org/api/ng/directive/ngModelOptions" target="_blank" rel="external">https://docs.angularjs.org/api/ng/directive/ngModelOptions</a>)</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode101_button" onclick="$('#todoCode101').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 4 propagace položky City až po opuštění pole</span></p><div id="todoCode101" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">input</span> <span class="attribute">class</span>=<span class="value">"form-control"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"city"</span> <span class="attribute">ng-model</span>=<span class="value">"detail.user.address.city"</span> <span class="attribute">ng-model-options</span>=<span class="value">"&#123; updateOn: 'blur'&#125;"</span> /&gt;</span></span><br></pre></td></tr></table></figure></div>
<h3 id="5-_odeslání_formuláře">5. odeslání formuláře</h3><ul>
<li>odeslání formuláře provede detail.save()</li>
</ul>
   <p><span style="float:right"><a href="#" id="todoCode106_button" onclick="$('#todoCode106').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 5 odeslání formuláře</span></p><div id="todoCode106" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">form</span> <span class="attribute">role</span>=<span class="value">"form"</span> <span class="attribute">name</span>=<span class="value">"detail.userForm"</span> <span class="attribute">ng-submit</span>=<span class="value">"detail.save()"</span> &gt;</span></span><br></pre></td></tr></table></figure></div>
<h3 id="6-_další_tlačítka_a_akce">6. další tlačítka a akce</h3><ul>
<li>tlačítka vyvolájí metody:<br> reset -&gt; detail.reset()<br> clear storage -&gt; detail.clear()</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode110_button" onclick="$('#todoCode110').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 6.1 další tlačítka a akce</span></p><div id="todoCode110" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">type</span>=<span class="value">"button"</span> <span class="attribute">class</span>=<span class="value">"btn btn-warning"</span> <span class="attribute">ng-click</span>=<span class="value">"detail.reset()"</span>&gt;</span>Reset<span class="tag">&lt;/<span class="title">button</span>&gt;</span></span><br><span class="line"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">type</span>=<span class="value">"button"</span> <span class="attribute">class</span>=<span class="value">"btn btn-danger"</span> <span class="attribute">ng-click</span>=<span class="value">"detail.clear()"</span>&gt;</span>Clear Storage<span class="tag">&lt;/<span class="title">button</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<ul>
<li>zajistěte, aby bylo tláčítko reset disabled, když nejsou ve formuláři neuložené změny</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode114_button" onclick="$('#todoCode114').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 6.2 další tlačítka a akce</span></p><div id="todoCode114" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">type</span>=<span class="value">"button"</span> <span class="attribute">class</span>=<span class="value">"btn btn-warning"</span> <span class="attribute">ng-disabled</span>=<span class="value">"detail.userForm.$pristine"</span> <span class="attribute">ng-click</span>=<span class="value">"detail.reset()"</span>&gt;</span>Reset<span class="tag">&lt;/<span class="title">button</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<h3 id="7-_Extra">7. Extra</h3><ul>
<li>vyplňte formulář, uložte data a sledujte kam se propagují další změny hodnot</li>
<li>ve službě userStorage.get a userStorage.set odstraňte angular.copy, opět uložte data a sledujte kam se propagují další změny hodnot<br> Je vám jásné proč je třeba vracet kopii dat?</li>
</ul>

      
    </div>
    <!--<footer>-->
      <!---->
        <!---->
        <!---->
        <!---->
      <!---->
      <!--<div class="clearfix"></div>-->
    <!--</footer>-->
  </div>
</article>

<!--
<section id="comment">
  <h1 class="title">留言</h1>

  
      <div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123456789012345";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-comments" data-href="http://yoursite.com/todo/form-01/index.html" data-num-posts="5" data-width="840" data-colorscheme="light"></div>
      
  
</section>
-->
</div></div>
    <aside id="sidebar" class="alignright">
  <ul>
  
</ul>


<div class="widget tag">
  <h3 class="title">Cvičení</h3>
  <ul class="entry">
    
    <li><a href="/todo/templates-01/">templates-01</a></li>
    
    <li><a href="/todo/templates-02/">templates-02</a></li>
    
    <li><a href="/todo/controller-01/">controller-01</a></li>
    
    <li><a href="/todo/controller-02/">controller-02</a></li>
    
    <li><a href="/todo/scope-01/">scope-01</a></li>
    
    <li><a href="/todo/controller-03/">controller-03</a></li>
    
    <li><a href="/todo/di-01/">di-01</a></li>
    
    <li><a href="/todo/di-01-unitTesting/">di-01-unitTesting</a></li>
    
    <li><a href="/todo/di-02/">di-02</a></li>
    
    <li><a href="/todo/directive-01/">directive-01</a></li>
    
    <li><a href="/todo/directive-02/">directive-02</a></li>
    
    <li><a href="/todo/directive-03/">directive-03</a></li>
    
    <li><a href="/todo/filter-01/">filter-01</a></li>
    
    <li><a href="/todo/filter-02/">filter-02</a></li>
    
    <li><a href="/todo/form-01/">form-01</a></li>
    
    <li><a href="/todo/router-01/">router-01</a></li>
    
    <li><a href="/todo/resource-01/">resource-01</a></li>
    
    <li><a href="/todo/animate-01/">animate-01</a></li>
    
    <li><a href="/todo/auth-01/">auth-01</a></li>
    
    <li><a href="/todo/auth-02/">auth-02</a></li>
    
  </ul>
</div>


</aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><div class="alignleft">
  
  &copy; 2015 www.angular.cz
  
</div>
<div class="clearfix"></div></footer>
  <script src="/todo/js/jquery.min.js"></script>
<script src="/todo/js/jquery.imagesloaded.min.js"></script>
<script src="/todo/js/gallery.js"></script>




<link rel="stylesheet" href="/todo/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="/todo/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox();
})(jQuery);
</script>

</body>
</html>