
@import '../../bower_components/bootstrap/less/bootstrap.less';

.ng-touched.ng-invalid {
  .has-error;
  .form-control;
}

.ng-touched.ng-valid {
  .has-success;
  .form-control;
}

.ng-submitted .ng-invalid {
  .has-error;
  .form-control;
}