<h1>Vítejte</h1>

<div auth-is-anonymous>
  <h3>Zjednodušený přihlašovací formulář</h3>
  <p>Abyste nemuseli psát jméno a heslo, jsou zde tři varianty.</p>
  <ul>
    <li>uživatel - může záznamy číst</li>
    <li>operátor - může záznamy i měnit</li>
    <li>špatné jméno a heslo</li>
  </ul>

  <div class="lead">Přihlásit se:</div>

  <div class="alert alert-warning" ng-if="home.isBadLogin">
    Zadali jste špatné jméno nebo heslo
  </div>

  <button class="btn btn-info" ng-click="home.loginUser()">jako uživatel</button>
  <button class="btn btn-primary" ng-click="home.loginAdmin()">jako operátor</button>
  <button class="btn btn-danger" ng-click="home.loginFail()">špatným jménem a heslem</button>
</div>

<div auth-is-authenticated>
  <div class="alert alert-success">
    Jste přihlášeni jako {{home.user.name}}
  </div>

  <button class="btn btn-info" auth-logout-link>Logout</button>
</div>