<div class="modal-header">
  <h3 class="modal-title">Přihlašte se</h3>
</div>
<div class="modal-body">

  <ul>
    <li>uživatel - může záznamy vytvářet a měnit</li>
    <li>operátor - může záznamy mazat</li>
    <li>špatné jméno a heslo</li>
  </ul>

  <div class="lead">Přihlásit se:</div>

  <p class="alert alert-warning" ng-if="auth.isBadLogin">
    Špatné jméno nebo heslo
  </p>

  <p>
    <button class="btn btn-info" ng-click="auth.loginUser()">jako uživatel</button>
    <button class="btn btn-primary" ng-click="auth.loginAdmin()">jako operátor</button>
    <button class="btn btn-danger" ng-click="auth.loginFail()">špatným jménem a heslem</button>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="auth.cancel()">Zrušit</button>
</div>
