<!DOCTYPE html>
<html ng-app="filterApp">
  <head>
    <meta charset="utf-8">
    <title>Filter 01 | Angular.cz</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  </head>
  <body>
    <div ng-controller="FilterCtrl as filterCtrl" class="container col-md-offset-3 col-md-6">
      <h1>Filter</h1>

      <div class="well">

        <input type="text" ng-model="filterCtrl.inputText" class="form-control"/>

        <h2>Filterované hodnoty</h2>
        <ul>
          <li>Normálně:               {{filterCtrl.inputText}}</li>
          <!-- TODO 1 - přidat filter uppercase -->
          <li>Velkým:                 {{filterCtrl.inputText}}</li>
          <!-- TODO 3.1 - použít filter reverse -->
          <li>Pozpátku:               {{filterCtrl.inputText}}</li>
          <!-- TODO 3.2 - použít filter reverse v kombinaci s uppercase -->
          <li>Pozpátku a velkým:      {{filterCtrl.inputText}}</li>
          <!-- TODO 3.3 - použít filter revers prefixem -->
          <li>Pozpátku a s prefixem:  {{filterCtrl.inputText}}</li>
        </ul>
      </div>

      <div class="well">
        <h3>Seznam otevřených úkolů</h3>

        <p>
          <!--TODO 5.2 - filterujte tickety podle jména-->
          Hledání podle vlastníka: <input type="text" class="form-control"/>
        </p>

        <table class="table">
          <tr>
            <th>Úkol</th>
            <th>Vlastník</th>
            <th>Stav</th>
            <th>Deadline</th>
          </tr>

          <!--TODO 5.1b - filterujte tickety podle stavu-->
          <!--TODO 5.3 - seřaďte tickety-->
          <!--TODO 5.4 - omezte počet ticketů -->
          <tr ng-repeat="todo in filterCtrl.todos">
            <td>{{todo.name}}</td>
            <td>{{todo.owner}}</td>
            <td>{{todo.status == "open" ? "Otevřený" : "Zavřený"}}</td>
            <!-- TODO 4 - formátujte datum "d. M. yyyy" -->
            <td>{{todo.duedate}}</td>
          </tr>
        </table>
      </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>